<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bookchain es una editorial descentralizada de persona a persona o P2P">
<title>Bienvenido a la Bookchain</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="styles/estilos.css">

<style>
    body { padding-top:50px; }
</style>